<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adhd.sirikan.pimpicha.adhdform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".AddChildActivity" />
        <activity
            android:name=".SnapActivity"
            android:noHistory="true" />
        <activity
            android:name=".TassActivity"
            android:noHistory="true" />
        <activity
            android:name=".SdqActivity"
            android:noHistory="true" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".BeforeTestActivity" />
        <activity android:name=".TreeTestActivity" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".ShowTwoTable" />
        <activity android:name=".ShowChildDetail" />
        <activity android:name=".riskSnapActivity" />
        <activity android:name=".riskThassActivity" />
        <activity android:name=".riskSdqActivity" />
        <activity android:name=".PDFActivity" />
        <activity android:name=".ShowChildDetail2" />
        <activity android:name=".ShowChildDetail3" />
        <activity android:name=".CorrelationActivity" />
        <activity android:name=".Graph2Activity" />
        <activity android:name=".PDF2Activity" />
        <activity android:name=".PDF3Activity" />
        <activity android:name=".DeleteActivity" />
        <activity android:name=".AfterLoginActivity" />
        <activity android:name=".DeleteDoneActivity" />
        <activity android:name=".CompareActivity" />
        <activity android:name=".GraphCompareActivity" />
        <activity android:name=".Compare2Activity" />
        <activity android:name=".GraphCompare2Activity" />
        <activity android:name=".Compare3Activity" />
        <activity android:name=".GraphCompare3Activity" />
        <activity android:name=".RecommendActivity"></activity>
    </application>

</manifest>